In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from NltkPreprocessingSteps import NltkPreprocessingSteps
import os
from sklearn.cluster import KMeans

In [2]:
# Load data from Excel sheet
os.chdir("E:\Code\OvGU\Information Retrieval\Search Result Clustering")
preprocessed_doc_file_path = 'pre_processed docs with id.xlsx'  
original_doc_file_path = "big dataset input docs.xlsx"
preprocessed_doc_path_exist = os.path.exists(preprocessed_doc_file_path)
original_doc_path_exits = os.path.exists(original_doc_file_path)

print(preprocessed_doc_path_exist, original_doc_path_exits)

True True

In [3]:
ppdoc_df = pd.read_excel(preprocessed_doc_file_path)
odoc_df = pd.read_excel(original_doc_file_path)
ppdoc_df

,doc_id,filenames,text
0,1,Ab Shirin.txt,ab shirin abshirin persian b shyryn may refer ...
1,2,Abdullah Al Shami.txt,abdullah alshami arabic bdllh lshmy bear march...
2,3,Abdullah Al Shemali.txt,abdullah al shemali bear june kuwait city kuwa...
3,4,Abdullah Al Yahya.txt,abdullah al yahya arabic bd llh lyhy bear febr...
4,5,Abdullah Alawi.txt,abdullah alawi arabicbd llh lwy bear august qa...
...,...,...,...
1954,1955,"Zwolle, Gelderland.txt",zwolle small village east netherlands locate m...
1955,1956,"Zwolle, Louisiana.txt",zwolle zawallee small town sabine parish louis...
1956,1957,Zwolle.txt,zwolle dutch zvol listen city municipality nor...
1957,1958,Zwollerkerspel.txt,zwollerkerspel low saxon zwollerkarspel former...
1958,1959,Zwolnieni z Teorii.txt,zwolnieni z teorii internet platform create zw...

In [4]:
# Accept query string from the user
#query = input("Enter your query: ")
query = "World Cup"
query_dict = {
    "doc_id":-1,
    "filenames":"query",
    "text": query
}
query_df = pd.DataFrame(query_dict, index=[0])
query_df

   doc_id filenames       text
0      -1     query  World Cup

In [5]:
txt_preproc = NltkPreprocessingSteps(query_df['text'])
processed_query = \
            txt_preproc \
            .remove_html_tags()\
            .replace_diacritics()\
            .expand_contractions()\
            .remove_numbers()\
            .remove_punctuations_except_periods()\
            .lemmatize()\
            .remove_double_spaces()\
            .remove_all_punctuations()\
            .remove_stopwords()\
            .get_processed_text()

resource corpora/wordnet not found. Downloading now...

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\sinha\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\sinha\AppData\Roaming\nltk_data...

resource corpora/omw-1.4 not found. Downloading now...

[nltk_data]   Package omw-1.4 is already up-to-date!

Executing remove_html_tags
Executing replace_diacritics
Executing expand_contractions
Executing remove_numbers
Executing remove_punctuations_except_periods
Executing lemmatize
Executing remove_double_spaces
Executing remove_all_punctuations
Executing remove_stopwords

In [6]:
print("Prev: ",ppdoc_df.shape)
ppdoc_df.loc[len(ppdoc_df.index)] = [-1, "query", processed_query[0]]
print("After: ",ppdoc_df.shape)
ppdoc_df

Prev:  (1959, 3)
After:  (1960, 3)

,doc_id,filenames,text
0,1,Ab Shirin.txt,ab shirin abshirin persian b shyryn may refer ...
1,2,Abdullah Al Shami.txt,abdullah alshami arabic bdllh lshmy bear march...
2,3,Abdullah Al Shemali.txt,abdullah al shemali bear june kuwait city kuwa...
3,4,Abdullah Al Yahya.txt,abdullah al yahya arabic bd llh lyhy bear febr...
4,5,Abdullah Alawi.txt,abdullah alawi arabicbd llh lwy bear august qa...
...,...,...,...
1955,1956,"Zwolle, Louisiana.txt",zwolle zawallee small town sabine parish louis...
1956,1957,Zwolle.txt,zwolle dutch zvol listen city municipality nor...
1957,1958,Zwollerkerspel.txt,zwollerkerspel low saxon zwollerkarspel former...
1958,1959,Zwolnieni z Teorii.txt,zwolnieni z teorii internet platform create zw...
1959,-1,query,world cup

In [7]:
# TF-IDF Vectorization
tfidf_vectorizer = TfidfVectorizer()
tfidf_matrix = tfidf_vectorizer.fit_transform(ppdoc_df["text"])

In [8]:
print(tfidf_matrix.shape)
print(tfidf_matrix[-1])

(1960, 20297)
  (0, 4297)	0.8136733299898108
  (0, 19918)	0.581322382214286

In [9]:
clustering_model = KMeans(n_clusters = 25, 
                          init = 'k-means++',
                          max_iter = 300, n_init = 10)
clustering_model.fit(tfidf_matrix)

KMeans(n_clusters=25, n_init=10)

In [10]:
sorted_centroids = clustering_model.cluster_centers_.argsort()[:, ::-1]
terms = tfidf_vectorizer.get_feature_names_out() 

for i in range(25):
        print("Cluster %d:" % i, end='')
        for ind in sorted_centroids[i, :10]:
            print(' %s' % terms[ind], end='')
        print()
        print()
 
print()

Cluster 0: gene encode enzyme human protein sulfotransferase sulfate succinylcoa cytosolic sulf

Cluster 1: film work series write direct novel star bear american book

Cluster 2: comic marvel book artist captain spiderman series issue drug sight

Cluster 3: may refer american bear january seidelmann miss serve michelle gas

Cluster 4: football play league player team american bear baseball basketball professional

Cluster 5: station railway line radio fm serve license train road rail

Cluster 6: university college professor science academic law school study bear oxford

Cluster 7: specie family genus moth find plant describe beetle endemic america

Cluster 8: oriental company building church bank hall service mottram locate day

Cluster 9: state district united municipality court region town peak elmenhorst village

Cluster 10: play footballer bear midfielder professional rugby august defender league former

Cluster 11: olympics summer compete event men medal win winter bear championship

Cluster 12: river km mi tributary municipality northeast south village kilometre mountain

Cluster 13: use also one know name form province motto mine city

Cluster 14: politician party member assembly serve election indian legislative parliament bear

Cluster 15: album release song single record music band studio chart singer

Cluster 16: web page server user use application website presence content service

Cluster 17: film surname television actress bear notable people festival american name

Cluster 18: rural district population locality russia russian street selsoviet selo oblast

Cluster 19: island motu atoll iti one park marquesas polynesia islet nui

Cluster 20: school county house high crisp district oriel historic locate build

Cluster 21: snail gastropod sea marine mollusk family mollusc specie pulmonate airbreathing

Cluster 22: orient county census population state united iuka township community unincorporated

Cluster 23: sri lanka division grama locate province colombo niladhari kirulapone pringles

Cluster 24: club play league cup debut cricket rugby season world championship

In [11]:
res = []

for i in range(tfidf_matrix.shape[0]-1):
    sim = cosine_similarity(tfidf_matrix[i], tfidf_matrix[-1])
    if sim > 0:
        cluster_pred = clustering_model.predict(tfidf_matrix[i])
        res.append([sim, odoc_df.loc[i], cluster_pred])

In [12]:
res.sort(key=lambda r: r[0], reverse=True)
print("Query: ",query, end="\n\n")
cluster_dict = {}

display_res_limit = 10 if len(res) > 10 else len(res)

for x in range(display_res_limit):
    print("Rank",(x+1))
    print("Sim: ",res[x][0], "Cluster: ",res[x][2])
    print("File name: ",res[x][1]["filenames"])
    print("Doc: ", res[x][1]["text"], end="\n\n")

    # inc cluster count in dict
    cluster_dict[res[x][2][0]]  = cluster_dict.get(res[x][2][0], 0) + 1

print(cluster_dict)

Query:  World Cup

Rank 1
Sim:  [[0.3508111]] Cluster:  [4]
File name:  Bob Storey.txt
Doc:  Bob Storey is a former offensive and defensive back, and kick returner, who played four seasons in the Canadian Football League, winning 2 Grey Cups. He played 2 seasons and 28 games for the Hamilton Tiger-Cats, winning a Cup in 1967, and 2 seasons and 27 games for the Montreal Alouettes, winning another cup in 1970.
His father was Red Storey, famed Canadian football player (and Grey Cup champion) and sportsman.

Rank 2
Sim:  [[0.34551797]] Cluster:  [24]
File name:  Suranga Sampath.txt
Doc:  Suranga Sampath is a Sri Lankan blind cricketer. He was part of the Sri Lankan team during the 2017 ICC World T20 for the Blind. In the 2017 Blind T20 World Cup, he was the top scorer throughout the tournament with an aggregate of 733 runs with an average of excess 150. He also scored 5 centuries during the tournament, the most by any player in a single Blind T20 World Cup series; thus becoming the only batsman to score 5 centuries in a single edition of a Blind T20 World Cup. He picked up 4 wickets during the tournament to be adjudged the man of the tournament.Suranga Sampath along with Ruwan Wasantha set the record for the highest ever partnership for any wicket in Blind T20I history as well as in Blind T20 World Cup history when they put on an unbeaten 334 runs for the first wicket in the 2017 Blind T20 World Cup. He was also named as a player in the dream team during the 2017 Blind T20 World Cup.Suranga Sampath was also named as the member of the Sri Lankan blind cricket team for the 2018 Blind Cricket World Cup. During the first match for Sri Lanka in the tournament against Australia he scored 130 which propelled the team score to 485/7 in 40 overs and played a key role in a massive victory by a margin of 303 runs.

Rank 3
Sim:  [[0.33132192]] Cluster:  [11]
File name:  Rishat Shafikov.txt
Doc:  Rishat Rimzovich Shafikov (Russian: Ð Ð¸ÑˆÐ°Ñ‚ Ð Ð¸Ð¼Ð·Ð¾Ð²Ð¸Ñ‡ Ð¨Ð°Ñ„Ð¸ÐºÐ¾Ð²; born 23 January 1970) is a retired Russian race walker.
He was born in Chelyabinsk. He won a bronze medal at the 1989 European Junior Championships. His best senior competition was at the 1996 Olympic Games, when he finished fifth in the |20 km race. He also finished seventh at the 1997 World Race Walking Cup, and placed lowly at the 1995 World Race Walking Cup (105th) and the 1999 World Race Walking Cup (68th).

Rank 4
Sim:  [[0.30479717]] Cluster:  [24]
File name:  Motu Matu_u.txt
Doc:  Motu Matu'u (born 30 April 1987) is a rugby union footballer who plays as a hooker for London Irish in Premiership Rugby. He previously played for Wellington Lions in the ITM Cup and for the Hurricanes in the Super Rugby. He attended Rongotai College in Wellington, which was also attended by Ma'a Nonu.
He is 184 cm tall and weighs 108 kg.Matu'u is internationally capped by Samoa, of which his debut came of the bench against the United States during the 2015 World Rugby Pacific Nations Cup. He represented Samoa in the 2015 Rugby World Cup, and on 23 August 2019, he was named in Samoa's 34-man training squad for the 2019 Rugby World Cup, before being named in the final 31 on 31 August.On 17 March 2016, Matu'u signed for English club Gloucester Rugby in the Aviva Premiership on a long-term deal from the 2016-17 season. On 24 May 2018, Matu'u left Gloucester to join London Irish from their return in the RFU Championship.

Rank 5
Sim:  [[0.25186184]] Cluster:  [4]
File name:  George McCabe.txt
Doc:  George McCabe (born 13 March 1922, Sheffield, Yorkshire; died January 2001) was an English association football referee, who officiated at the 1966 World Cup and in an FA Cup Final. He became a Football League referee in 1954 and an international referee in 1960. Throughout his league career he sent off only three players. Outside football he was the director of a Sheffield engineering company.

Rank 6
Sim:  [[0.21429641]] Cluster:  [24]
File name:  Russian Premier League Cup.txt
Doc:  The Russian Premier League Cup was a football competition organized by Russian Premier League. This was a knockout competition for 16 teams of the Premier League. All ties, including the final, were two-legged. The winners of the Cup did not get any special bonuses (such as the participation the UEFA Cup), and the matches were played on the days reserved for national team fixtures. These two factors prevented most clubs from fielding their strongest teams, and matches were played by mixed or reserve teams. Consequently, the competition did not gain much popularity, and the first edition of 2003 became the last. FC Zenit Saint Petersburg won the only tournament, beating FC Chernomorets Novorossiysk in the final 5â€“2 on aggregate.

Rank 7
Sim:  [[0.19429472]] Cluster:  [24]
File name:  Michelle Heyman.txt
Doc:  Michelle Pearl Heyman (born 4 July 1988) is an Australian soccer player and commentator who currently plays for Canberra United in the W-League in Australia. She became the all-time record goalscorer in the W-League in March 2021, after scoring her 73rd goal. She has previously played for W-League teams Central Coast Mariners, Sydney FC, and Adelaide United as well as the Western New York Flash in the American National Women's Soccer League. Heyman has  represented Australia since 2010, playing at the 2014 AFC Women's Asian Cup, the 2015 FIFA Women's World Cup and the 2016 Summer Olympics. In May 2019 she retired from international football.

Rank 8
Sim:  [[0.19303245]] Cluster:  [4]
File name:  Michelle GonzÃ¡lez.txt
Doc:  Michelle GonzÃ¡lez (born 3 August 1989) is a Puerto Rican basketball player for MontaÃ±eras de Morovis and the Puerto Rican national team.She participated at the 2018 FIBA Women's Basketball World Cup.

Rank 9
Sim:  [[0.17686592]] Cluster:  [24]
File name:  Gustavo Jorge.txt
Doc:  Gustavo MartÃ­n Jorge (born Lomas de Zamora, 24 October 1971) is a former Argentine rugby union player and a current coach. He played as a wing.
He played for Club PucarÃ¡ and Club Atletico San Isidro in the Nacional de Clubes in Argentina. He returned to Club PucarÃ¡ where he finished his player career in 2007/08.Jorge had 23 caps for Argentina, since his debut, at the 103-9 win over Brazil, at 8 October 1989, in Montevideo, for the South American Rugby Championship, when he was only 17 years old, making him the youngest ever player for the "Pumas". He scored 6 tries in that game. He scored 24 tries, 111 points on aggregate during his international career. He was called for the 1991 Rugby World Cup but he never played. His last game was at the 16-11 win over the United States, at 20 June 1994, in Buenos Aires, for the 1995 Rugby World Cup qualifyings. He was only 22 years old but did not play again for the "Pumas".
He has been a coach for the youth categories at Club PucarÃ¡ since his retirement.

Rank 10
Sim:  [[0.16687217]] Cluster:  [24]
File name:  Oriel Park.txt
Doc:  Oriel Park is a UEFA Category 2 football stadium located on the Carrickmacross Road in Dundalk, Ireland. The stadium is the home ground of Dundalk Football Club and is owned and operated by the club on land that has been leased from the Casey family since the mid 1930s.
The ground has a capacity of 3,100 for European matches (i.e. 3,100 seats) and 4,500 for domestic games (i.e. with the remainder standing). Oriel Park's attendance record is an estimated 18,000, set in 1982 for Dundalk's European Cup Winners' Cup second round tie against Tottenham Hotspur F.C.

{4: 3, 24: 6, 11: 1}